<app-header-nav *ngIf="!isStartPage"></app-header-nav>
<!-- begin::Body -->
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">


	<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark no-print">
		<!-- BEGIN: Aside Menu -->
		
		<!-- END: Aside Menu -->
	</div>
	<!-- END: Left Aside -->
	<div class="m-grid__item m-grid__item--fluid m-wrapper" style="height: 100% !important;">
		<router-outlet></router-outlet>
	</div>


</div>
<!-- end:: Body -->
<app-footer *ngIf="!isStartPage"></app-footer>
